@model _01_MVCWebAppIntro.Models.Bicycle
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete";
}

<div class="container">
    <div class="col-md-12">
        <p>Are u sure?</p>
        @using(Html.BeginForm("Delete", "Bicycles", new { @Id = Model.Id }, FormMethod.Post, null)
        {
        <input type="submit" value="Delete" style="color:red" />
        }
    </div>
</div>